:root{
    --primaryColor: rgb(244, 246, 248);
    --btnColor: #34495e; 
    --underlineColor: #4c6e8f;
}
body{
    margin:0;
    background-image: url("../images/background/wave-bg.svg");
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-position-y: 5.03em;
    width: 100%;
    overflow-x: hidden;
}
.wrapper{
    display:grid;
    height: 100%;
}
.wrapper__main{
    min-height: 100%;
    margin-top: 15%;
    overflow: auto;
    padding-bottom: 100px;
}
.wrapper__section{
    width:50%;
}
.wrapper__figure{
    position: absolute;
    left: 35vw;
    top: 10vw;
}

.wrapper__main{
    height:100%;
}
.wrapper__header{
    z-index: 10;
    width: 50%;
    height: 6vw;
    top: 0;
    position: fixed;
    background-color: var(--primaryColor);
}
.wrapper__nav{
    margin-left: 100%;
    width: 100%;  
    height: 5.03em;
    background-color: var(--primaryColor);
}
.wrapper__image--header{
    width: 100px;
    position: absolute;
}

.wrapper__header .wrapper__list{
    margin-top: 0;
    margin-right: 25px;
    float: right;
}
.wrapper__header .wrapper__item{ 
    display: inline-block;
    line-height: 80px;
    margin: 0 15px;
}
.wrapper__link, .wrapper__span{
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 16px;
    text-transform: uppercase;
}
.wrapper__paragraph--main{
    width: 30vw;
}
.wrapper__main .wrapper__section{
    margin-top: 5vw;
    margin-left: 3vw;
    margin-bottom: 0;

}
.wrapper__main .wrapper__article{
    margin-bottom: -4.3vw;
}
.wrapper__image--header{
    border-radius: 90%;
    margin-top: 1%;
    margin-left: 2%;
}
.wrapper__link:after{
    content: '';
    position: absolute;
    background-color: var(--underlineColor);
    height: 10%;
    width: 0;
    left: 0;
    transition: 0.3s;
    bottom: -2.5px;
}
.wrapper__link:hover:after{
    width: 100%;
}
.drop_down{
    position: absolute;
    top: 62%;
    left: 147.5%; 
}
.drop_down li{
    background-color: var(--primaryColor);
    width: 15vw;
    text-align: center;    
    display: none;
}

.drop_down li:hover > .drop_down{
    perspective: 1000px;
}
nav li:hover > .drop_down li{
    transform-origin: top center;
    opacity: 0;
    display: block;
    
}
nav li:hover > .drop_down li:nth-child(1){
    animation: animate 300ms ease-in-out forwards;
    animation-delay: -150ms;
}
nav li:hover > .drop_down li:nth-child(2){
    animation: animate 300ms ease-in-out forwards;
    animation-delay: 0ms;
}

@keyframes animate{
    0%{
        opacity: 8;
        transform: translateX(-180px)
    }
    70%{
        transform: translateX(28px)
    }
    100%{
        opacity: 1;
        transform: translateX(0)
    }
}
label #btn{
    margin: 0 20px 0 0;
    font-size: 2rem;
    line-height: 70px;
    display: none;
    float: right;
}
#check{
    display: none;
}
@media (max-width: 1300px){
    label #btn{
        display: block;
        cursor: pointer;
    }
    ul{
        position: absolute;
        top: 3.8rem;
        left: 150vw;
        background-color: var(--primaryColor);
        display: none; 
        width: 160px;
        align-items: center;
    }
    ul li{
        margin-left: 20%;
    }
    #check:checked ~ ul{
        display: inline;
        position: absolute;
        left: 60vw;
    }
    label #btn{
        display: block;
    }
}

.wrapper__button{
    position: relative;
    cursor: pointer;
    font-size: 15px;
    letter-spacing: 2px;
    float: left;
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: var(--btnColor);
    top: 18%;
    left: 35%;
    color: white;
    text-decoration: none;
}
.wrapper__button:hover{
    border-radius: 5%;
    text-transform: capitalize;
    
}
.wrapper__footer{
    background-color: var(--primaryColor);
    position: relative;
    margin-top: 10%;
    height: 60px;
    clear: both;
}
.wrapper__footer{
    display: flex;
}
.wrapper__copyRight__Text{
    width: 30vw;
}
.wrapper__socialMedia{
    padding-left: 59vw;
    padding-top: 1.5%;
} 
.wrapper__link--socialMedia{
    padding-right: 8px;
}

.wrapper__copyRight{
    padding-top: 1%;
    width: 30%;
}



    
    
