.wrapper__main .wrapper__section{
    margin: 0 0 0 10%;
    width: 33%;
    height: 20vw;
}
.wrapper__greeting{
    font-family: 'Libre Baskerville', serif;
    font-size: 35px;
    margin-bottom: 0;
}
.wrapper__paragraph--main{
    margin-top: 2%;
}
.wrapper__introduction{
    margin-top: 2%;
}
.wrapper__main{
    display: flex;
}
.wrapper__section{
    width:70%;
}
.wrapper__figure{
    width: 50%;
    height: 35%;
    padding-left: 15%;
    margin-top: -3%;
}
#home:after{
    content: '';
    position: absolute;
    background-color: var(--underlineColor);
    height: 3%;
    width: 9.3%;
    left: 2.5%;
    transition: 0.3s;
    bottom: 28.5px;
}
.wrapper__button{
    position: relative;
    cursor: pointer;
    font-size: 15px;
    letter-spacing: 2px;
    float: left;
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: var(--btnColor);
    top: 8vw;
    left: 50%;
    color: white;
    text-decoration: none;
}

.wrapper__image{
    margin-top: -15%;
    padding-top: 20%;
    height: 60%;
    width: 60%;
    border-radius: 50%;
}

.wrapper__socialMedia {
    padding-top: 3%;
}


@media (max-width: 720px){
    .wrapper{
        display: flex;
    }
    .wrapper__main {
        flex-direction: column-reverse;
        overflow: visible;
        margin-bottom: 40vh;
    }
    .wrapper__image{
        width: 30vh;
        height: 33vh;
        margin-top: -20vh;
        margin-left: 10%;
    }
    .wrapper__paragraph--main{
        width: 80vw;
    }
    .wrapper__introduction{
        width: 80vw;

    }
    .wrapper__footer{
        position: absolute;
        bottom: -30vh;
    }
    .wrapper__image--header{
        position: absolute;
        left: 1%;
    }
}

