:root{
    --secondaryColor: #4b6e91;
    --secondaryHeaderColor: #cbd4dd;
    --commentBorder:#34495e; 

}
*{
    margin: 0;
    padding: 0;
}
.header2{
    text-align: center;
    color:rgb(7, 2, 15);
    background-color: var(--secondaryHeaderColor);
    width: 50%;
    margin-top: 2%;
    margin-left: 0;
    padding:1rem;
    font-size:xx-small;
}
.wrapper__main{
    margin-top: 8%;
    margin-bottom: 2.1%;
}
.wrapper__main--bord{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:5%;
    width: 80%;
    margin: auto;
    margin-top: 2%;
}
.wrapper__main--bord .wrapper__img{
    width: 30%;
    height: 30%;
    border-radius:50%;
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-bottom: 10px;
}
.wrapper__main--bord .wrapper__text{
    font-size: 12px;
}
.wrapper__main--bord i{
    margin-top: 3%;
}
.drop_down{
    position: absolute;
    top: 60%;
    left: 157.5%;
       
}
.wrapper__person{
    text-align: center;
    padding:1.5rem;
    border-bottom-right-radius: 40%;
    border-top-left-radius: 40%;
}
.wrapper__person--p1{
    border: 1px solid var(--secondaryColor);
}
.wrapper__person--p2{
    border: 1px solid var(--secondaryColor);
}
.wrapper__person--p3{
    border: 1px solid var(--secondaryColor);
}
.wrapper__person--p1 .wrapper__img{
    border: 1px solid var(--secondaryColor);
}
.wrapper__person--p2 .wrapper__img{
     border: 1px solid var(--secondaryColor);
}
.wrapper__person--p3 .wrapper__img{
    border: 1px solid var(--secondaryColor);
}
.wrapper__person--p1 i{
    font-size: 20px;
    margin-bottom: 10px;
    color:#FFDF00;
}
.wrapper__person--p2 i{
    font-size: 20px;
    margin-bottom: 10px;
    color:#D3D3D3;
}
.wrapper__person--p3 i{
    font-size: 20px;
    margin-bottom: 10px;
    color:#D3D3D3;
}
.wrapper__text--name{
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 10px;
}
.wrapper__text--job{
    text-transform: uppercase;
    opacity: 0.8;
    font-size: 14px;
    margin-top:5px;
    margin-bottom: 10px;
}
@media (max-width: 700px){
    .wrapper__main--bord{
        display: flex;
        flex-direction: column;
    }
    .wrapper__person{
        margin-top: 8vw;
    }
    .wrapper__header{
        height: 19.5vw;
    }
    .wrapper__headerTwo{
        margin-top: 15vw;
    }
    .wrapper__list{
        padding-left: 12vw;
    }
}
@media  (min-width: 600px) and  (max-width: 700px){
 .wrapper__header{
     height: 12vw;
 }
 .wrapper__list{
    padding-left: 12vw;
}
}
@media  (min-width: 700px) and  (max-width: 1300px){
    .wrapper__header{
        height: 8.9vw;
    }
    .wrapper__list{
        padding-left: 12vw;
    }
}
