:root{
    --btnColor: #34495e; 
}
*{
    margin:0;
    padding:0;
}
.wrapper__mainBord{
    display: flex;
    width: 95%;
    padding:10px;
}
.wrapper__main{
    margin-top: 6%;
}
.wrapper__title{
    text-align:center;
    color:rgb(147, 141, 194);
    padding-top: 3%;
    padding-bottom: 1%;
}
#contact:after{
    content: '';
    position: absolute;
    background-color: var(--underlineColor);
    height: 3%;
    width: 17.4%;
    left: 176.8%;
    transition: 0.3s;
    bottom: 30px;
}
.wrapper__list--second{
    position: absolute;
    top: 60%;
    left: 157.5%;
       
}
.wrapper__contactBord{
    margin-left: 1%;
    width: 100%;
    margin-right: 1%;
}
.wrapper__form--contact{
    width: 30em;
}
.wrapper__messageBord .wrapper__form--contact{
    width: 50em;
    height: 15vw;
}
.wrapper__form{
    width: 70%;
    margin:auto;
    margin-left: 18%;
    padding:0 10px;
    overflow:hidden;
}
.wrapper__form--contact{
    display: block;
    width:100%;
    box-sizing: border-box;
    margin: 16px;
    border:0;
    background: #111;
    padding:20px 40px;
    outline:none;
    color:#ddd;
    transition:0.5s;
}
.wrapper__form--contact:focus{
    box-shadow: 0 0 10px 4px #34495e;
}
.wrapper__form--txtArea{
    display: block;
    width:100%;
    box-sizing: border-box;
    margin: 16px 0;
    border:0;
    background: #111;
    padding:20px 40px;
    outline:none;
    color:#ddd;
    transition:0.5s;
    resize: none;
    height: 200px;
    width: 100%;
}
.wrapper__form--submitBtn{
    float:right;
    border: 0;
    background: var(--btnColor);
    color:#fff;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.wrapper__form--submitBtn:hover{
    background: #2980b9;
}
.wrapper__copyRight__Text{
    width: 110%;
    padding-top: 10%;
}

@media (max-width: 450px){
    .wrapper__mainBord{
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
    }
    .wrapper__header{
        height: 20vw;
    }
    .wrapper__title{
        margin-top: 20vw;
    }
    .wrapper__form--contact{
        width: 87vw;
        margin-left: -1vw;
    }
    .wrapper__form--submitBtn{
        margin-right: 25vw;
        margin-top: 5vw;
    }
    .wrapper__form{
        margin-left: 1.9vw;
        margin-top: 10vw;
        width: 86.7vw;
    }
    .footer{
        margin-top: 1vw;
    }
    footer #social_media{
        padding-top: 3vw;
        width: 35vw;
        padding-left: 38vw;
    }
    ul{
        height: 90vw;
        padding-left: 11vw;
    }
    #check:checked ~ ul{
        display: inline;
        position: absolute;
        left: 50vw;
    }
}
@media (min-width:450px) and (max-width: 1300px){
    .wrapper__header{
        height: 13%;
    }
    main{
        margin-top: 12vw;
    }
    .wrapper__form--txtArea{
        width: 70vw;
        margin-left: 10vw;
    }
    .wrapper__mainBord{
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
    }
    .wrapper__form--submitBtn{
        margin-right: -1vw;
        margin-top: 5vw;
    }
    .wrapper__spcialMedia{
        width: 40%;
        padding-left: 65vw;
        padding-top: 2vw;
    }
}
@media (max-width: 800px) and (min-width: 750px){
    .wrapper__header{
        height: 10.5vw;
    }
}
@media (max-width: 400px){
    .wrapper__header{
        height: 22.1vw;
    }
    .wrapper__main{
        overflow-x: hidden;
    }
    .wrapper__spcialMedia{
        width: 40%;
        padding-left: 30vw;
        padding-top: 2vw;
    }
    .wrapper__form--submitBtn{
        margin-right: 45vw;
        margin-top: 5vw;
    }
}
