.wrapper__footer{
    margin-top: 15vw;
}
.wrapper__copyRight{
    padding-top: 1vw;
}
.wrapper__form--contact{
    width: 30em;
}
.wrapper__messageBord .wrapper__form--contact{
    width: 50em;
    height: 15vw;
}
@media (max-width: 1300px){
    .wrapper__form--contact{
        width: 80vw;
    }
    .swrapper__form--submitBtn{
        position: absolute;
        margin-left: 38vw;
    }
}
@media (max-width: 450px){
    .wrapper__title{
        margin-top: 20vw;
    }
}
@media (min-width: 700px) and (max-width: 1300px){
    .wrapper__list{
        padding-left: 10vw;
    }
}
