:root{
    --btnColor: #34495e; 
    --barColor: #2e5d8d;
    --shadowColor: rgb(193, 194, 209);

}
*{
    margin:0;
    padding:0;
}
.wrapper__footer{
    margin-top: 5vh;
}
.wrapper__downloadButton{
    position: relative;
    cursor: pointer;
    float: left;
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: var(--btnColor);
    border-radius: 5%;
    top: 0;
    left: 75%;
}
#resume:after{
    content: '';
    position: absolute;
    background-color: var(--underlineColor);
    height: 3%;
    width: 13%;
    left: 17.2%;
    transition: 0.3s;
    bottom: 28.5px;

}
#download__link{
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 18px;
}
.wrapper__main{
    margin-top: 10%;
    overflow:visible;
}
.wrapper__article--main .wrapper__title{
    text-align:center;
    padding-bottom: 3%;
}
.wrapper__article--main{
    margin: 5% 10% 2% 10%;
    justify-content: center;
}
.wrapper__skills .wrapper__titleTwo{
    padding-bottom: 1.5%;
}
.wrapper__row--three .wrapper__webExp{
    width: 27vw;
    margin-left: 2vw;
}
.wrapper__main .wrapper__article .wrapper__text{
    padding-top: 2%;
    padding-bottom: 2%;
    width:60%;
    text-align: justify;
}
.wrapper__titleThree{
    padding-top: 10%;
    padding-left: 4%;
}
.wrapper__skills{
    width:50%;
    margin: 5% 15% 0 15%;
}
.wrapper__article .wrapper__titleTwo{
    text-align: left;
}
.wrapper__skills .wrapper__title{
    text-align: center;
}
.wrapper__c2Def{
    padding-left: 60px;
}

.wrapper__line{
    height:20%;
    min-width: 100%;
    margin: 2% auto 5% 5%;
    line-height: 20%;
    font-size: 0.9rem;
    color:rgb(250, 249, 249);
    padding: 1.5% 0 0 14%;
    position: relative;
}
.wrapper__line:before{
    content:"";
    width:100%;
    position:absolute;
    left:11vh;
    height:3vh;
    top:0;
    z-index:-2;
    background:dimgrey;

}
.wrapper__line:after{
    content:'';
    background: var(--barColor);
    height: 3vh;
    transition: 0.8s;
    display:block;
    width:100%;
    animation: animate 1 4s;
    position:absolute;
    top:0;
    left:11vh;
    z-index:-1;
}
.wrapper__line--l1:after{
    max-width: 70%;
}
.wrapper__line--l2:after{
    max-width: 50%;
}
.wrapper__line--l3:after{
    max-width: 70%;
}
.wrapper__line--l4:after{
    max-width: 85%;
}
.wrapper__line--l5:after{
    max-width: 80%;
}
.wrapper__socialMedia{
    margin-top: 2.3%;
}
@keyframes animate2{
    0%{
        width:0;
    }
    100%{
        width:100%;
    }
}

.wrapper__Mexperiance .wrapper__textTwo{
    padding: 5% 0 0 42%; 
}
.wrapper__titleTwo--exp{
    margin-left: 43vw;
  
} 
#wrapper__titleTwo--exp{
    text-align: center;
}
.wrapper__experiance{
    padding-left: 13%;
}
.wrapper__experiance .wrapper__row{
    width: 70em;
    height: 20em;
    padding-left: 5px;
    margin-bottom: 5vw;
}

.wrapper__webExp{
    box-shadow: 10px 10px var(--shadowColor);
    margin-right: 15%;
    align-items: center;
    border-radius: 10% 15% 10% 10%;
    width: 50vw;
    height: 22vw;
}
.wrapper__experiance .wrapper__row .wrapper__webExp .wrapper__text{
    width: 20em;
    padding: 1.5em 0 0 1.5em;
}


.wrapper__experiance .wrapper__row .wrapper__webExp .wrapper__section{
    background-color: rgb(179, 200, 219);
    width: 98%;
    height: 30%;
    border-radius: 40% 40% 0 0;
    margin: 0 0 0 2%;
}

.wrapper__experiance .wrapper__row--two{
    padding-left: 40px;
}
.wrapper__experiance .wrapper__row--one, .wrapper__row--two{
    display: flex;
    padding:40px;
}

.wrapper__experiance .wrapper__row--one .wrapper__webExp{
    justify-content: center;

}

@media (max-width: 600px){
    
    .wrapper__header{
        height: 21vw;
    }
    .wrapper__article--main{
        width: 130vw;
        margin-left: 9%;
        margin-top: 20vw;
    }
   .wrapper__article--main .wrapper__title{
        position: absolute;
        left: 35%;
    }
    .wrapper__article--main .wrapper__titleTwo{
        padding-top: 10%;
        width: 100vw;
    }

    .wrapper__skills{
        width: 40vw;
        margin-left: 10vw;
    }
    .wrapper__skills .wrapper__title{
        padding-left: 50%;
    }
    .wrapper__line{
        padding-bottom: 5%;
    }
    .wrapper__row{
        display: flex;
        flex-direction: column;
        margin-left: -25%;
    }
    .wrapper__row--one .wrapper__webExp{
        margin-bottom: 15vw;
    }
    .wrapper__row .wrapper__text{
        width: 1vw;
    }
    .wrapper__webExp--two{
        width: 15vw;
        margin-top: 1vw;
    }
    
    
    .wrapper__experiance .wrapper__row .wrapper__webExp .wrapper__section{
        width: 80vw;
        height: 11vw;
        margin-left: 5vw;
    }
    .wrapper__row .wrapper__textTwo{
        padding-left: 10%;
    }
    
    .wrapper__row--one{
        margin-bottom: 70vw;
    }
   
    .wrapper__list{
        height: 80vw;
        padding-left: 13vw;
    }
    .wrapper__experiance .wrapper__row .wrapper__webExp{
        width: 85vw;
    }
    .wrapper__downloadButton{
        position: absolute;
        margin-top: 2250px;
        left: 200px;
        color: white;
    }
    .wrapper__nav ul{
        height: 90vw;
    }
    #check:checked ~ ul{
        display: inline;
        position: absolute;
        left: 55vw;
        height: 90vw;
    }
}
@media (max-width: 1000px) and (min-width: 850px){
    .wrapper__header{
        height: 8.8vw;
    }
    .wrapper__article--main .wrapper__title{
        padding-right: 40vw;
    }
    .wrapper__article--main p{
        width: 40vw;
    }
    .wrapper__skills{
        margin-left: 7vw;
    }
    .wrapper__Mexperiance{
        width: 20vw;
        margin-left: 2vw;
    }
    .wrapper__row{
        display: flex;
        flex-direction: column;
    }
    .wrapper__experiance .wrapper__row .wrapper__webExp .wrapper__section{
        width: 50vw;
        height: 5vw;
    }
    .wrapper__webExp .wrapper__section .wrapper__titleThree{
        margin-top: -2vw;
    }
    .wrapper__experiance .wrapper__row .wrapper__webExp{
        width: 51.5vw;
    }
    .wrapper__row--one .wrapper__webExp{
        margin-bottom: 80vw;
    }
    .footer{
        margin-top: 30vw;
    }
    .wrapper__downloadButton{
        position: absolute;
        margin-top: 2208px;
    }

}
@media (min-width: 600px) and (max-width: 850px){
    .wrapper__Mexperiance{
        width: 20vw;
        margin-left: 2vw;
    }
    .wrapper__row{
        display: flex;
        flex-direction: column;
    }
    .wrapper__experiance .wrapper__row .wrapper__webExp section{
        width: 50vw;
        height: 5vw;
    }
    .wrapper__webExp .wrapper__section .wrapper__titleThree{
        margin-top: -2vw;
    }
    .wrapper__experiance .wrapper__row .wrapper__webExp{
        width: 51.5vw;
    }
    .wrapper__row--one .wrapper__webExp{
        margin-bottom: 110vw;
    }
    .wrapper__downloadButton{
        position: absolute;
        margin-top: 2208px;
    }
    .footer{
        margin-top: 35vw;
    }

}

