:root{
    --secondaryColor: #4b6e91;
    --secondaryHeaderColor: #cbd4dd;
    --commentBorder:#34495e; 

}
*{
    margin: 0;
    padding: 0;
}
.header2{
    text-align: center;
    color:rgb(7, 2, 15);
    background-color: var(--secondaryHeaderColor);
    width: 50%;
    margin-top: 2%;
    margin-left: 0;
    padding:1rem;
    font-size:xx-small;
}
main{
    margin-top: 8%;
    margin-bottom: 2.1%;
}
.main_bord{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:5%;
    width: 80%;
    margin: auto;
    margin-top: 2%;
}
.main_bord img{
    width: 30%;
    height: 30%;
    border-radius:50%;
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-bottom: 10px;
}
.main_bord p{
    font-size: 12px;
}
.main_bord i{
    margin-top: 3%;
}
.drop_down{
    position: absolute;
    top: 60%;
    left: 157.5%;
       
}
.person{
    text-align: center;
    padding:1.5rem;
    border-bottom-right-radius: 40%;
    border-top-left-radius: 40%;
}
.p1{
    border: 1px solid var(--secondaryColor);
}
.p2{
    border: 1px solid var(--secondaryColor);
}
.p3{
    border: 1px solid var(--secondaryColor);
}
.p1 img{
    border: 1px solid var(--secondaryColor);
}
.p2 img{
    border: 1px solid var(--secondaryColor);
}
.p3 img{
    border: 1px solid var(--secondaryColor);
}
.p1 i{
    font-size: 20px;
    margin-bottom: 10px;
    color:#FFDF00;
}
.p2 i{
    font-size: 20px;
    margin-bottom: 10px;
    color:#D3D3D3;
}
.p3 i{
    font-size: 20px;
    margin-bottom: 10px;
    color:#D3D3D3;
}
.name{
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 10px;
}
.job{
    text-transform: uppercase;
    opacity: 0.8;
    font-size: 14px;
    margin-top:5px;
    margin-bottom: 10px;
}
footer #footer_text{
    padding-left: 40%;
    padding-top: 1%;
    font-size: 12px;
}
footer div{
    padding-top: 2%;
}
@media (max-width: 700px){
    .main_bord{
        display: flex;
        flex-direction: column;
    }
    .person{
        margin-top: 8vw;
    }
    header{
        height: 19.5vw;
    }
    .header2{
        margin-top: 15vw;
    }
    ul{
        padding-left: 12vw;
    }
}
@media  (min-width: 600px) and  (max-width: 700px){
 header{
     height: 12vw;
 }
 ul{
    padding-left: 12vw;
}
}
@media  (min-width: 700px) and  (max-width: 1300px){
    header{
        height: 8.9vw;
    }
    ul{
        padding-left: 12vw;
    }
}
