:root{
    --shdowColor: rgb(193, 194, 209);
    --tableBackground:  rgb(193, 194, 209);
}
body{
    margin:0;
    padding:0;
}
.wrapper__main{
    display:flex;
    overflow: auto;
    margin-top: 1%;
}

.wrapper__header{
    height: 13%;
}
.wrapper__article{
    width:70%;
    margin:5% 5% 0 10%;
}
.wrapper__aside{
    margin: 9% 3% 0 0;
    width: 50%;
}

.wrapper__table{
    box-shadow: 10px 10px var(--shdowColor);
    border-radius: 10%;
}
.wrapper__tableHead{
    background-color: var(--tableBackground);
    height:25%;
}
.wrapper__tableHead--left{
    height:25%;
    border-top-left-radius: 40% ;
}
.wrapper__tableHead--right{
    border-top-right-radius: 40% ;
}
.wrapper__tableDef{
    padding:2% 30px 2% 2%;
}
.wrapper__footer{height: 80px;}
@media (max-width: 500px){
    .wrapper__main{
        margin-top: 20vw;
        display: flex;
        flex-direction: column;
    }
    .wrapper__aside{
        margin-left: 10vw;
        width: 80vw;
    }
    .wrapper__header{
        height: 21vw;
    }
}
@media (min-width: 500px) and (max-width: 1300px){
    .wrapper__main{
        margin-top: 10vw;
    }
    .wrapper__header{
        height: 7vw;
    }
}
}
