:root{
    --secondaryHeaderColor: #cbd4dd;    
}
body{
    margin-top: 10%;
    background-image: url("../images/background/wave-bg.svg");
    background-position-y: 5.03em;
}
.wrapper__main{
    width: 80%;
    height: 0;
    overflow: hidden;
}
.wrapper__main--mainInner{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.wrapper__title--maintitle{
    text-align: center;
    color:rgb(7, 2, 15);
    background-color: var(--secondaryHeaderColor);
    width: 10vw;
    position: absolute;
    top: 7vw;
    left: 0;
    padding:1rem;
    font-size:small;
}
.wrapper__navigation{
    position: absolute;
    top: 35vw;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
.wrapper__bar{
    width: 80px;
    height: 20px;
    border: 2px solid black;
    margin: 6px;
    cursor: pointer;
}
input[name="pr"]{
    position: relative;
    visibility:hidden;
}
.wrapper__slides{
    width: 500%;
    height: 100%;
    display: flex;
}
.wrapper__slide{
    width: 1000px;
    transition: 0.6s;
    margin: 0 1% 0 1%;
}
.wrapper__slide .wrapper__text{
    width: 50%;
    padding-top: 20%;
    padding-left: 5%;
}
.wrapper__slide  .wrapper__image{
    margin-top: 8vw;
    width: 50vw;
    height: 25vw;
}
.wrapper__slide .wrapper__slide--inner{
    display: flex;
    width: 100%;
    height: 100%;
}
.wrapper__input__pr1:checked ~ .wrapper__slide--s1{
    margin-left: 8%;
}
.wrapper__input__pr2:checked ~ .wrapper__slide--s1{
    margin-left: 2.6%;
}
.wrapper__input__pr3:checked ~ .wrapper__slide--s1{
    margin-left: -2.7%;
}
.wrapper__input__pr4:checked ~ .wrapper__slide--s1{
    margin-left: -8%;
}
.wrapper__input__pr5:checked ~ .wrapper__slide--s1{
    margin-left: -13%;
}
.wrapper__input__pr6:checked ~ .wrapper__slide--s1{
    margin-left: -18.3%;
}
.wrapper__footer{
    position: absolute;
    top: 100%;
    height: 80px;
    width: 100%;
}

@media (max-width: 850px) and (min-width: 600px){
    .wrapper__slide--inner{
        display: flex;
        flex-direction: column;
        margin-top: 5vw;
    }
    .wrapper__slide--inner {
        width: 30%;
        margin-top: -40%;
        margin-left: 12vw;
    }
    .wrapper__slide--inner .wrapper__image{
        margin-left: -14vw;
        margin-top: 15vw;
        width: 30vw;
        height: 25vw;
    }
    .wrapper__input__pr1:checked ~ .wrapper__slide--s1{
        margin-left: 7%;
    }
    .wrapper__input__pr2:checked ~ .wrapper__slide--s1{
        margin-left: -120vw;
    }
    .wrapper__input__pr3:checked ~ .wrapper__slide--s1{
        margin-left: -310vw;
    }
    .wrapper__input__pr4:checked ~ .wrapper__slide--s1{
        margin-left: -470vw;
    }
}

@media (max-width: 600px){
    .wrapper__slides{
        margin-top: -30vw;
    } 
    .wrapper__header{
        position: absolute;
        top: 0;
        height: 23vw;
        position: fixed;
    }
    body{
        margin-top: 50vw;
    }
    .wrapper__slides{
        display: flex;
        flex-direction: column;
        overflow: hidden;
        margin-top: 30vw;
        width: 100vw;
        height: 100vw;
    } 
    .wrapper__slide--inner{
        display: flex;
        flex-direction: column;
        margin-top: -5vw;
    }
    .wrapper__slide--inner .wrapper__text{
        width: 60vw;
        padding-top: 3%;
        margin-left: -1vw;
    }
    .wrapper__slide--inner .wrapper__image{
        padding-left: 10vw;
        margin-top: 100vw;
        width: 60vw;
    }
    .wrapper__title--maintitle{
        text-align: center;
        color:rgb(7, 2, 15);
        background-color: var(--secondaryHeaderColor);
        width: 20vw;
        position: absolute;
        top: 20vw;
        left: 0;
        padding:1rem;
        font-size:small;
    }
    .wrapper__bar{
        width: 10vw;
        height: 3vw;
        margin-top: 85vw;
    }
    .wrapper__input__pr1:checked ~ .wrapper__slide--s1{
        margin-top: -110%;
    }
    .wrapper__input__pr2:checked ~ .wrapper__slide--s1{
        margin-top: -270vw;
    }
    .wrapper__input__pr3:checked ~ .wrapper__slide--s1{
        margin-top: -435vw;
    }
    .wrapper__input__pr4:checked ~ .wrapper__slide--s1{
        margin-top: -595vw;
    }
    .wrapper__footer{
        margin-top: -17vw;
    }
    #check:checked ~ ul{
        display: inline;
        position: absolute;
        left: 40vw;
    }
}
@media (max-width: 1000px) and (min-width: 850px){
     .wrapper__slide--inner{
        margin-left: -5vw;
        margin-top: 5vw;
    } 
    .wrapper__slide--inner .wrapper__image{
        width: 30vw;
        height: 20vw;
        margin-top: 150w;
        margin-left: 15vw;
    }
    .wrapper__slide--inner .wrapper__text{
        width: 40vw;
        padding-top: 10vw;
        margin-left: -1vw;
    }
    .wrapper__bar{
        margin-top: -4vw;
    }
    .wrapper__nav .wrapper__list{
        padding-left: 10vw;
    }
    .wrapper__input__pr1:checked ~ .wrapper__slide--s1{
        margin-left: -15vw;
    }
    .wrapper__input__pr2:checked ~ .wrapper__slide--s1{
        margin-left: -135vw;
    }
    .wrapper__input__pr3:checked ~ .wrapper__slide--s1{
        margin-left: -255vw;
    }
    .wrapper__input__pr4:checked ~ .wrapper__slide--s1{
        margin-left: -370vw;
    }
   

}
@media (max-width: 1200px) and (min-width: 1000px){
    .wrapper__slide--inner{
        display: flex;
        flex-direction: column;
    }
    .wrapper__slide--inner .wrapper__text{
        width: 50%;
        padding-top: 1vw;
        margin-left: -1vw;
    }
    .wrapper__slide--inner .wrapper__image{
        padding-left: 8vw;
        margin-top: 5vw;
    }
    .wrapper__input__pr1:checked ~ .wrapper__slide--s1{
        margin-left: 0;
    }
    .wrapper__input__pr2:checked ~ .wrapper__slide--s1{
        margin-left: -95vw;
    }
    .wrapper__input__pr3:checked ~ .wrapper__slide--s1{
        margin-left: -195vw;
    }
    .wrapper__input__pr4:checked ~ .wrapper__slide--s1{
        margin-left: -291vw;
    }

}
